.pixelated-image-card {
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.pixelated-image-card__default,
.pixelated-image-card__active,
.pixelated-image-card__pixels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pixelated-image-card__default,
.pixelated-image-card__active {
  border-radius: 2px;
}

.pixelated-image-card__default img,
.pixelated-image-card__active img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.pixelated-image-card__active {
  display: none;
}

.pixelated-image-card__pixels {
  pointer-events: none;
  z-index: 10;
}

.pixelated-image-card__pixel {
  position: absolute;
  display: none;
}